@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";
.whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: 15px;
}